# Round 2

### Dealing with the data

In [166]:
import numpy as pd
import pandas as pd

In [168]:
# df.columns[0]

'Unnamed: 0'

In [173]:

def dataframe():
    df = pd.read_csv('marketing_customer_analysis.csv')
    df.shape
    cols = []
    for column in df.columns:
        cols.append(column.lower())
    df.columns = cols
    df = df.drop('unnamed: 0',axis=1)
    df.dropna(inplace=True)
    df['effective to date'] = pd.to_datetime(df['effective to date'])
    df['months'] = df['effective to date'].dt.month
    return df.shape, df

In [174]:
dataframe()

((4543, 26),
       customer       state  customer lifetime value response  coverage  \
 2      LZ68649  Washington             14947.917300       No     Basic
 3      XL78013      Oregon             22332.439460      Yes  Extended
 10     HG93801     Arizona              5154.764074       No  Extended
 13     KR82385  California              5454.587929       No     Basic
 16     FH51383  California              5326.677654       No     Basic
 ...        ...         ...                      ...      ...       ...
 10902  PP30874  California              3579.023825       No  Extended
 10903  SU71163     Arizona              2771.663013       No     Basic
 10904  QI63521      Nevada             19228.463620       No     Basic
 10906  KX53892      Oregon              5259.444853       No     Basic
 10908  WA60547  California             11971.977650       No   Premium

                   education effective to date employmentstatus gender  income  \
 2                  Bachelor        2011-02-10         Employed      M   22139
 3                   College        2011-01-11         Employed      M   49078
 10     High School or Below        2011-01-02         Employed      M   82730
 13                   Master        2011-01-26         Employed      M   66334
 16     High School or Below        2011-02-07         Employed      F   76717
 ...                     ...               ...              ...    ...     ...
 10902  High School or Below        2011-01-24         Employed      F   28304
 10903               College        2011-01-07         Employed      M   59855
 10904  High School or Below        2011-02-24       Unemployed      M       0
 10906               College        2011-01-06         Employed      F   61146
 10908               College        2011-02-13         Employed      F   64195

        ... number of policies     policy type        policy  renew offer type  \
 2      ...                  2   Personal Auto   Personal L3            Offer3
 3      ...                  2  Corporate Auto  Corporate L3            Offer2
 10     ...                  1  Corporate Auto  Corporate L3            Offer2
 13     ...                  4   Personal Auto   Personal L3            Offer4
 16     ...                  6   Personal Auto   Personal L3            Offer4
 ...    ...                ...             ...           ...               ...
 10902  ...                  1   Personal Auto   Personal L2            Offer2
 10903  ...                  1   Personal Auto   Personal L2            Offer2
 10904  ...                  2   Personal Auto   Personal L2            Offer1
 10906  ...                  6   Personal Auto   Personal L3            Offer2
 10908  ...                  6   Personal Auto   Personal L1            Offer1

        sales channel  total claim amount  vehicle class vehicle size  \
 2        Call Center          480.000000            SUV      Medsize
 3             Branch          484.013411  Four-Door Car      Medsize
 10            Branch          442.521087            SUV        Large
 13       Call Center          331.200000   Two-Door Car      Medsize
 16       Call Center          300.528579   Two-Door Car        Large
 ...              ...                 ...            ...          ...
 10902          Agent          655.200000  Four-Door Car      Medsize
 10903         Branch          355.200000   Two-Door Car      Medsize
 10904         Branch          897.600000     Luxury SUV      Medsize
 10906         Branch          273.018929  Four-Door Car      Medsize
 10908         Branch          618.288849            SUV      Medsize

       vehicle type months
 2                A      2
 3                A      1
 10               A      1
 13               A      1
 16               A      2
 ...            ...    ...
 10902            A      1
 10903            A      1
 10904            A      2
 10906            A      1
 10908            A      2

 [4543 rows x 26 columns])